# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. JavaScript
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. Scikit-Learn
4. Seaborn

| Data_Science_Tools | 
|:-------------------|
| Jupyter Notebook   | 
| RStudio            |
| Apache Spark       | 
| Excel              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

print(f"{hours} hours")

3.3333333333333335 hours

### Objectives:
- Create Jupyter Notebook
- Create Markdown cell
- Insert Code cell
- Insert table
- Insert headings

## Author:
FAHEEM AYUB